<style>
#cont{
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}
.banner { 
    height: 120px; 
    text-align: center; 
    overflow: hidden; 
    line-height: 30px; 
    text-shadow: #fff 1px 1px 1px;  
    color: #333; 
    padding: 40px 0 0 0; 
    }
/*文字动画效果*/
.banner p{
    font-size: 14px;
    text-shadow:1px 1px 5px #8B8878;
}

.about { 
    overflow: hidden; 
    margin-bottom: 15px;
    line-height: 22px; 
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
    }
.about h2 { 
    font-size: 25px; 
    margin-bottom: 20px;
    color: #FFFFFF; 
    background: #8B636C; 
    padding: 10px 0; 
    width: 200px; 
    text-align: center; 
    border-radius: 0 30px 30px 0; 
    box-shadow: #63B8FF 1px 1px 1px; 
    border-left: #dae1e4 6px solid;
     }
.about p { 
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #515151; 
    }
.about ul { }
a.blog_link { 
    color: 	#1C86EE; 
    margin: 0 20px; 
    }
.about p img{ 
    display:block; 
    margin:0 auto;
    }

</style>


<div id="cont">
  <marquee style="height: 140px;" scrollamount="2" direction="down" behavior="slide">
    <div class="banner">
      <p>我们不停的翻弄着回忆，却再也找不回那时的自己</p>
      <p>人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
      <p>无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
    </div>
       </marquee>
    <div class="about left">
     <h2>Just about me</h2>
       <ul> 
           <p>关于我，一个未来的小小码农，茫茫宇宙中的一粒小石子。</p>
           <p>凭借着兴趣已经走过了三个年头，现在已经是大四的老油条，但总的来说还是一个刚步入社会的新人。</p>
           <p>很喜欢交朋友， 下面是我的微信二维码， 欢迎看到博客的朋友加我好友， 多给我提提意见， 多讨论讨论技术，三人行， 则必有我师 !</p>
           <p align="center">微信请备注：博客</p>
           <p><img src="/images/wechat_code.jpg" alt=""></a></p>
           <p></p>
       </ul>
     <h2>About my blog</h2>
         <p>域  名：暂无</p>
         <p>服务器：托管于 Github，欢迎 Fork </p>
         <p>折腾开始于2018年1月6日，基本在2018年1月28完工。</p>
         <p>一直想有个自己的博客，写写个人学习、工作感悟什么的，当然也会有一些IT类的文章,这次就借助hexo+Github page 搭建了这个博客，第一次搭建还是有些粗糙，以后会逐渐改进。。。</p>
         
     <h2>Contact Me</h2>
     <p>新浪微博：<a href="http://weibo.com/tongliping0709" class="blog_link">点击进入我的新浪微博（可以加个关注哈）</a></p>
     <p>知乎：<a href="https://www.zhihu.com/people/tian-hao-69-26" class="blog_link">点击进入我的知乎</a></p>
     <p>Github:  <a href="https://github.com/tongliping0709" class="blog_link">点击进入我的github ( 欢迎fork me )</a></p>
    </div>
</div>